body{
    background-image: url('bgd1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50;
}
.mb-3{
    font-size: 23;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.btn {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}