body{
    background-image: url('bgd1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  
}
h2{
    font-size: 50;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}
h3{
    font-size: 22;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
p{
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
}